@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";
@custom-variant dark (&:where(.my-app-dark, .my-app-dark *));

@layer base {
	* {
		font-family: "Roboto Mono", monospace;
	}

	.font-orbitron {
		font-family: Orbitron, "Roboto Mono", monospace;
	}
}

@layer utilities {
	.container {
		@apply max-w-7xl mx-auto w-full;
	}
}

@layer components {
	.p-menubar-start {
		@apply flex flex-row grow w-max;
	}

	.p-menubar-start > .spacer {
		@apply flex-1;
	}
}

@import "./markdown.css";
